if SHIELD_CHOCX_R

config ZMK_KEYBOARD_NAME
    default "ChocX_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_CHOCX_L

config ZMK_SPLIT
    default y

config ZMK_SPLIT
    default y

endif
